body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Adjust height minus header */
    background: linear-gradient(to bottom, #f0e68c9d, #ffffff);
    margin: 10mm;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black; /* Initial border color and width */
    padding: 150px;
    position: relative; /* To allow the animation to work correctly */
    animation: borderAnimation 2s infinite; /* Apply the animation */
}

/* Keyframes to animate the border */
@keyframes borderAnimation {
    0% {
        border-color: rgb(106, 119, 29);
        border-width: 2px;
    }
    50% {
        border-color: #dfdc25; /* Change to any color you prefer */
        border-width: 4px; /* Increase the border width */
    }
    100% {
        border-color: rgb(162, 194, 22);
        border-width: 2px;
    }
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #eef7cf;
    border: 1px solid #9eb352;
    border-radius: 5px;
}

.register-link {
    margin-bottom: 20px;
}

.register-link a {
    color: blue;
    text-decoration: none;
}

.form-button {
    padding: 10px 20px;
    background-color: #a9a9a9;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.form-button:hover {
    background-color: #808080;
}
